/* @tailwind base;
@tailwind components;
@tailwind utilities; */


.navbarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: white;
    color: black;
    
}

.logo {
    height: 80px;
    width: 80px;
    border-radius: 10px;
}

.menu-container {
    width: 10px;
}

.menuIcon {
    height: 25px;
    width: 25px;
}

.shoppingCartIcon {
    height: 20px;
    width: 20px;
}

.searchBar {
    width: 90px;
    height: 20px;
    background-color:rgb(240, 239, 239);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchInput {
    background-color:rgb(240, 239, 239);
}

.searchIcon {
    font-size: 0.4rem;;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.magnifyingGlassIcon {
    height: 10px;
    width: 10px;
}

.homeAboutContact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-color: red;
    width: 70px;
}

.home {
    font-size: 0.4rem;
}

.about {
    font-size: 0.4rem;
}

.contact {
    font-size: 0.4rem;
}